<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css" type="text/css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Авторизация</title>
	</head>
	<body>
		<div class="container">
			<!-- <div class="col-4">
				<h1>Login Form</h1>
				<form action="auth" method="POST">
					<input type="text" name="username" placeholder="Username" required>
					<input type="password" name="password" placeholder="Password" required>
					<input type="submit">
				</form>
			</div> -->
			<aside class="col-5 mx-auto pt-5">
				<div class="card">
				<article class="card-body">
				<h4 class="card-title mb-4 mt-1"Авторизация</h4>
				<form action="auth" method="POST">
					<div class="form-group">
						<label>Логин</label>
						<input name="username" class="form-control" placeholder="Логин" type="text">
					</div> <!-- form-group// -->
					<div class="form-group">
						<label>Пароль</label>
						<input name="password" class="form-control" placeholder="Пароль" type="password">
					</div> <!-- form-group// --> 
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">Авторизация</button>
					</div> <!-- form-group// -->                                                           
				</form>
				</article>
				</div> <!-- card.// -->
				
			</aside> <!-- col.// -->
		</div>
		
	</body>
</html>